*{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    margin-left: 10px;
    font-style: italic;
}
.perfil{
    border: 2px solid black;
    width: 300px;
    height: 165px;
    overflow-y: auto;
    overflow-x: auto;
}
.descripcion{
    text-decoration: underline;
    width: max-content;
    margin-left: 40px;
    text-transform: capitalize; 
    letter-spacing: 3px;
}
.detalles{
margin-left: 15px;
}