/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7c9c9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del header */
header {
    background-color: #6f0000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Estilos de la sección de proyectos */
#proyectos {
    padding: 40px 0;
}

#proyectos h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    
}

.proyecto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proyecto h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.proyecto p {
    font-size: 1em;
    line-height: 1.6;
}

.proyecto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #6f0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.proyecto a:hover {
    background-color: #a70000;
}

/* Estilos del footer */
footer {
    background-color: #6f0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}