/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 18px;
        margin-top: 10px;
    }

h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #007BFF;
}

.skills, .experience, .design {
    padding: 40px 0;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .skills ul {
        list-style-type: none;
    }

    .skills li {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 8px;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

    footer p {
        font-size: 16px;
    }
